PORT=4000
NEST_ENV=prod

# POSTGRES_HOST={{POSTGRES_HOST}} # Change to CONTAINER_NAME
# POSTGRES_PORT={{POSTGRES_PORT}}
# POSTGRES_USER={{POSTGRES_USER}}
# POSTGRES_PASSWORD={{POSTGRES_PASSWORD}}
# POSTGRES_DB={{POSTGRES_DB}}

# Replace the values with the DigitalOcen database
POSTGRES_HOST={{DIGITALOCEAN_POSTGRES_HOST}} # Change to CONTAINER_NAME
POSTGRES_PORT={{DIGITALOCEAN_POSTGRES_PORT}}
POSTGRES_USER={{DIGITALOCEAN_POSTGRES_USER}}
POSTGRES_PASSWORD={{DIGITALOCEAN_POSTGRES_PASSWORD}}
POSTGRES_DB={{DIGITALOCEAN_POSTGRES_NAME}}

JWT_SECRET={{JWT_SECRET}}